<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of service</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to external CSS -->
</head>

<body>
    <div class="container">
        <h1>Terms of Service</h1>
        <h2>Service Use</h2>
        <p>This platform enables you to book reservations. You are responsible for providing accurate information during the booking process.</p>
        
        <h2>Data Protection</h2>
        <p>We collect and process personal data in accordance with the General Data Protection Regulation (GDPR). Your data is used only for booking management. For details, see our <a href="/privacynotice" target="_blank">privacy notice</a>.</p>
        
        <h2>Cancellations and Changes</h2>
        <p>Bookings can not be cancelled or changed currently.</p>
        
        <h2>Liability</h2>
        <p>We strive to ensure our services run smoothly but are not liable for disruptions caused by technical issues or third-party providers.</p>
        
        <h2>Contact</h2>
        <p>For questions or assistance, reach us at [redacted].</p>
    </div>
</body>

</html>